.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  color: chocolate;
  background-color: cyan;
}

.time, .clock, .data {
  margin-top: 20px;
}

.data {
  margin-bottom: 36px ;
}

.clock {
  font-size: 20vw;
  color: forestgreen;
  font-weight: 600;
}